

.tab-pane *.tab-header-area *.tab-header-background{
    -fx-background-color: #5118e5;
-fx-padding: 0;
}


.tab-pane .tab{
    -fx-pref-height: 50px;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 0 4px 0 ;
    -fx-border-color: transparent;


}
.tab-pane .tab:selected{
    -fx-border-style: solid;
    -fx-border-width: 0 0 4px 0;
    -fx-border-color: #e8e9fd;
}

.tab .tab-label{
    -fx-text-fill: #BDBDBD;
    -fx-font-family:Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 18px;

}
.tab:selected .tab-label{

-fx-text-fill: #fff;

}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;

}
.tab-content-area{
    -fx-background-color: linear-gradient(to bottom ,#e8e9fd 70%,#fff 30%);
}
GridPane{
    -fx-background-color: white;
    -fx-padding: 20px;
}

#stack-panel{
    -fx-background-color: #fff;
}
.text-area,.text-field {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}
.text-field{
    -fx-background-color:#efe6fc ;
    -fx-text-fill: #7c47ef;
}
.text-area .content,.text-field .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content ,.text-field:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused ,.text-field:focused{
    -fx-highlight-fill: #fff;
}
.button, .check-box .box{
    -fx-background-insets: 0;
}
.button:focused,.check-box:focused .box{
    -fx-background-insets: 0;
}
.add-button:pressed{
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.05, 1, 1);
}
.run-button:pressed{
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.05, 3, 3);
}
.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: blue;
    -fx-highlight-fill: #fff;
}
.add-button{
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-text-fill: #fff;
    -fx-background-radius: 15px;
    -fx-background-color:#b697f5 ;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.05, 1, 1);
    -fx-padding: 1px 0 0 1px;
    -fx-font-family: "Arial Black";


}

.run-button{
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-text-fill: #fff;
    -fx-background-radius: 25px;
    -fx-background-color:#c500ec ;
    -fx-font-size: 28px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.05, 3, 3);
    -fx-padding: 2px 0 0 2px;
    -fx-font-family: "Arial Black";
}
.check-box .box{
    -fx-background-color:#efe6fc ;


}
.check-box .box .mark{
    -fx-background-color:#efe6fc ;
}
.check-box:selected .box .mark{
    -fx-background-color: #7c47ef;
}
.label{
    -fx-text-fill:#7c47ef ;
    -fx-font-family: Calibri;
    -fx-font-size: 14px;
}
.theme-button{
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;
    -fx-text-fill: #fff;
    -fx-background-radius: 16px;
    -fx-background-image: url("../moon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center ;
    -fx-background-color: #b697f5;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.05, 3, 3);
    -fx-padding: 2px 0 0 2px;


}
.white-background{
    -fx-background-color: #fff;


}

.drop-shadow-panel{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.1, 3, 3);
}
.view-order-1{
    -fx-view-order:1;
}
.view-order-2{
    -fx-view-order:2;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color:#5118e5 ;

}
.spinner .increment-arrow-button .increment-arrow ,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #fff;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-background-color: #7c47ef;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed{
    -fx-background-color:#c500ec;
}

.spinner {
    -fx-background-color: transparent;
}

.spinner:focused {
    -fx-background-color: transparent;
}

.choice-box,.choice-box .arrow-button {
    -fx-background-color:#efe6fc ;
}

.choice-box .arrow{
    -fx-background-color: #5118e5;
}
.choice-box .menu-item{
    -fx-pref-width: 150px;
}
.choice-box .menu-item:focused,.choice-box .menu-item:hover,.choice-box .menu-item:selected{

    -fx-background-color: #efe6fc;
}

